* {margin: 0; padding: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

:root {
    --cinzabg: rgb(85, 85, 85);
    --darkcinzabg: rgb(73, 73, 73);
    --laranja: #ffc037;
    --brancotxt: rgb(233, 233, 233);
    --verde-btn: rgb(0, 197, 115);
}


body {
    background-color: var(--cinzabg);
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding: 60px 5% 60px 5%;
    width: 90%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    color: var(--brancotxt);
}

footer {
    background-color: var(--laranja);
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 30px;
}

section {
    width: 80%;
    align-self: center;
    text-align: center;
    padding-top: 50px;
}

/* Navegação */

nav {
    background-color: var(--laranja);
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 5px;
}

nav li {
    text-align: center;
    padding: 15px 30px;
}
    nav li:hover {
        background-color: var(--cinzabg);
        color: var(--brancotxt);
        cursor: pointer;
        font-weight: bolder;
    }

/* HOME */

#home h1 {
    font-size: 40px;
    margin: 15px 0;
}

#home h2 {
    color: var(--laranja);
}

/* FOTO DE PERFIL */

#profile {
    border-radius: 50%;
    width: 200px;
    box-shadow: 0px 4px 10px 5px rgb(0, 0, 0,0.7);
    margin: 25px 0;
}

/*  ICONES  */

#icones {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
    #icones img{
        border-radius: 50%;
        width: 50px;
        filter: invert(85%);
    }

    #insta {
        transform: scale(1.8);
    }

    #icones img:hover {
        filter: invert(0);
        cursor: pointer;    
    }


/* PROJETOS */

.projeto {
    margin: 40px 0;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 3px 3px 10px 5px rgb(17, 17, 17, 0.7);
    display: flex;
}
    .projeto:hover {
        background-color: var(--darkcinzabg);
    }

#proj h1 {
    font-size: 3em;
}

.projetoDesc {
    padding-left: 3%;
}

.projeto img {
    width: 25%;
    border-radius: 50%;
    box-shadow: 0 5px 15px 5px rgba(0,0,0,0.7);
}

.projeto p{
    margin: 20px 0;
}

.projeto a,
.exp a {
    padding: 5px 15px;
    background-color: var(--verde-btn);
    border-radius: 10px;
}
    .projeto a:hover {
        background-color: var(--laranja);
       
    }



    /*  Curriculo    */

.exp h2 {
    color: var(--laranja);
    margin: 20px 0;
}

.exp h3 {
    margin: 10px 0;
}

 /* SKILLS */

#skillsDiv {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-meio {
    width: 100%;
}

    #skills li{
        list-style-type: none;
        padding: 5px;
    }
    #skills li:hover {
        background-color: var(--darkcinzabg);
        cursor: none;
    }